<%- include('../partials/navbar.ejs') %>

<h1>Item Page</h1>
<container class="showItem">
    <h2><%=item.name%></h2>
    <p>$<%=item.cost%></p>
</container>
<container class="updateItem">
    <form method="POST" action="<%=`./${item._id}/updateItem`%>">
        <input type="text" name="name" placeholder="<%=item.name%>">
        <!-- <input type="text" name="count" placeholder="Stock"> -->
        <input type="text" name="cost" placeholder="<%=item.cost%>">
        <input type="submit">
    </form>
</container>
<ul>
    <li><a href="#">Update Item</a></li>
    <li><form method="POST" action="<%=`./${item._id}/deleteItem`%>">
        <input type="submit" value="Delete">
    </form>
</ul>
<container class="purchase">
    <h2>Purchase</h2>
    <form method="POST" action="#">
        <input type="number" value="1" name="quantity">
        <p>should display price here</p>
        <input type="submit" value="Add to Cart">
    </form>
</container>