<h1>Store Page</h1>
<span>Store name <%=store.name%></span>

<h2>Add Item to Store</h2>
<form method="POST" action=<%= `/stores/${store._id}/createItem` %>>
    <input type="text" name="name" placeholder="Item Name">
    <input type="text" name="count" placeholder="Stock">
    <input type="text" name="cost" placeholder="Cost">
    <input type="submit">
</form>

<h2>Store Items</h2>
<% for (item of items) { %>
    <a href="/stores/<%=item.store%>/items/<%= item._id %>"><li> <%= item.name %></li></a>
<% } %>